body {
    background-color: white;
    color: rgb(15, 20, 25);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-list {
    list-style: none;
    padding: 1%;
    margin: 0;
}

.menu-list li {
    margin-bottom: 10px;
}

.menu-list a {
    color: rgb(15, 20, 25);
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu-list a:hover {
    background-color: rgba(15, 25, 20, 0.1);
}

.tweets-menu a {
    color: rgb(15, 20, 25);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
}

.tweets-menu a:hover {
    background-color: rgba(15, 25, 20, 0.1);
}
.icone {
    width: 10%; 
    max-width: 50px; 
    height: auto; 
}

.perfil {
    width: 25%; 
    height: 30%; 
    position: relative; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}


.perfil img {
    width: 60%; 
    height: 40%; 
    object-fit: cover; 
}

.profile-info h4,
.profile-info p {
    color: rgb(15, 20, 25);
}

.profile-info h3 {
    font-weight: bold;
    color: rgb(15, 20, 25);
}

.profile-local-list li,
.profile-follow-list li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    color: rgb(83, 100, 113);
}

.profile-picture img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.profile-button {
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid rgb(83, 100, 113);
    border-radius: 5px;
    background-color: white;
    color: rgb(15, 20, 25);
    cursor: pointer;
}

.profile-button:hover {
    background-color: rgba(15, 25, 20, 0.1);
}

.tweet-container {
    background-color: transparent;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

.tweet-container:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.tweet-profile-pic img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.tweet-menu a {
    text-decoration: none;
    color: rgb(83, 100, 113);
    background-color: transparent;
    border-radius: 8px;
    padding: 5px;
}

.tweet-menu a:hover {
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 1);
}

.tweet-menu a.reply:hover,
.tweet-menu a.share:hover {
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 1);
}

.tweet-menu a.retzeet:hover {
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
}

.tweet-menu a.like:hover {
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
}

.profile-account time,
.profile-account span.arroba {
    color: rgb(83, 100, 113);
}

article p {
    color: rgb(15, 20, 25);
}
